#container {
    display: flex;
    flex-wrap: wrap;
    width: 1050px;

}


.W {
    background-color: green;
    width: 50px;
    height: 50px;
}
.vazio {
    display: flex;
    width: 50px;
    height: 50px;

}
.inicio {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: red;

}
.fim {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: black;


}